# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_BLE
	default y

config ZMK_USB
	default y

config ZMK_KEYBOARD_NAME
	default "LazyPinky18"

config ZMK_SPLIT
	default y

if SHIELD_LAZY_PINKY_18_LEFT 

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if ZMK_BACKLIGHT

config PWM
    default y

config LED_PWM
    default y

endif # ZMK_BACKLIGHT
